* {
    box-sizing: border-box;
    font-family: Averta, sans-serif;
}
body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    color: #514949;
    text-align: left;
    background-color: #fff;
    align-content: centre;
}
.first{
    justify-items: center;
    padding: 3% 25%;
    text-align: center;
    /* background-image: src='https://zuri.team/img/hero-bg.svg'; */
    height: 800px;
    background-image: url(../img/hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.top{
    padding-top: 69px;
    /* margin-bottom: 69px */
    justify-items: centre;
    text-align: center;
}
.down{
    /* max-width: 700px; */
    text-align: center;
    font-size: 16px;
}
.first2{
    padding-top: 7%;
    padding-bottom: 2%;
}
a{
    color: #E7332B;
    font-weight: bold;
    text-decoration: none;
}
.bot{
    padding-top: 9%;
}
button{
    padding: 11px 28px;
    border: 1px solid #E7332B;
    cursor: pointer;
}
.pt{
    background-color: #E7332B;
    color: #fff;
}
.pt1{
    background-color: #fff;
    color: red;
}
.cater{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}
.cage{
    /* text-align: center; */
    /* width: 80%; */
}
.middle{
    background-color: #fff;
}
.second{
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px;  */
    /* width: 90%; */
    padding: 0 5%;
}
.grid{
    background-color: antiquewhite;
    padding: 4% 2%;
    /* margin-left: 2%; */
    
}
.grid2{
    background-color: antiquewhite;
    padding: 4% 2%;
}
.grid3{
    background-color: antiquewhite;
    padding: 4% 2%;
}
.footer{
    margin-top: 215px;
}
/* new.html */
.head{
    width: 90%;
}
.heade{
    max-width: 80%;
}
logo{
    width: 380px;
}
